OPEN_AI_API_KEY="<openai_key>"
GEMINI_API_KEY="<gemini_key>"
CLAUDE_API_KEY="<claude_key>"
LLAMA_API_KEY="<llama_key>"
LLAMA_URL="<llama_access_url>"
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_NAME="my_database"
DB_USER="my_user"
DB_PASSWORD="my_password"